#logo {
  height: 100px;
  width: 190px;
  margin-right: 60px;
  padding-top: 0px;
  padding-bottom: 0px; }

p, a {
  font-size: 120%; }

.mainheader {
  position: relative;
  background-image: url("../images/voting.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 800px; }
  .mainheader .main-title {
    position: absolute;
    top: 210px;
    display: block; }
    .mainheader .main-title h1 {
      font-size: 56px;
      color: #ff0000;
      text-shadow: 2px 2px #000000; }
  .mainheader .navbar {
    position: relative;
    background-color: black;
    opacity: 0.4;
    border-radius: black;
    border-color: black;
    border-radius: 0px;
    display: block;
    z-index: 1; }
  .mainheader .header-buttonn {
    position: absolute;
    top: 500px; }
    .mainheader .header-buttonn #header-button {
      height: 200%;
      width: 450px;
      font-size: 180%;
      box-shadow: 3px 3px 5px black; }
  .mainheader .headr-steps {
    position: absolute;
    top: 380px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 3px 2px 5px #000000; }

.row-content {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px; }

#titleelement {
  font-size: 40px;
  font-weight: bold;
  font-family: serif; }

#index-link {
  color: orange;
  font-size: 140%;
  font-weight: bold; }

#index-link:hover {
  color: red; }
